#Порт HTTP сервера
HTTP_PORT=8080

#Тип среды(local, dev, prod)
ENV_TYPE=local

#Для БД
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=test
DATABASE_HOST=database
DATABASE_PORT=5434

#Таймауты(в секундах)
READ_TIMEOUT=5
WRITE_TIMEOUT=10
IDLE_TIMEOUT=120
SHUTDOWN_CTX_TIMEOUT=5

#Настройки Elasticsearch(размер поиска в штуках)
ES_PORT=9200
ES_SEARCH_SIZE=20

#Путь до данных(.csv файла)
DATA_PATH=./data/posts.csv